{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <tr>
            <th>Timestamp</th>
            <th>Stock</th>
            <th>Shares</th>
            <th>Action</th>
            <th>Price</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction["timestamp"] }}</td>
            <td>{{ transaction["symbol"] }}</td>
            <td>{{ transaction["shares"] }}</td>
            <td>{{ transaction["action"] }}</td>
            <td>{{ transaction["price"] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}